[core]
	editor = 'C:/Program Files/Sublime Text 3/sublime_text.exe' -n -w
	excludesfile = /Users/michaellandry/.gitignore_global
	autocrlf = input
[push]
	default = upstream
[merge]
	conflictstyle = diff3
	tool = kdiff3
[credential]
	helper = manager
[user]
	name = michaelLandry
	email = michael.landry@turner.com
[help]
	autocorrect = 1
[color]
	ui = auto
    branch = auto
    diff = auto
    status = auto
 [color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "status"]
	changed = yellow bold
	untracked = cyan bold
	added = green bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[diff]
	tool = kdiff3
	guitool = kdiff3
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
	trustExitCode = false
[difftool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
	trustExitCode = false
[alias]
	dt = difftool
	lga = log --graph --oneline --all --decorate
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/michaellandry/.stCommitMsg
