[core]

	excludesfile = /Users/mlandry/.gitignore_global
	autocrlf = input
[push]
	default = current
[merge]
	conflictstyle = diff3
	tool = kdiff3
[user]
	name = Michael Landry
	email = mlandryviolin@gmail.com
[help]
	autocorrect = 1
[color]
	ui = true
    branch = auto
    diff = auto
    status = auto
 [color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "status"]
	changed = yellow bold
	untracked = cyan bold
	added = green bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[diff]
	tool = kdiff3
	guitool = kdiff3
[mergetool "kdiff3"]
	trustExitCode = false
[difftool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
	trustExitCode = false
[alias]
	dt = difftool
	lga = log --graph --oneline --all --decorate
[difftool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[commit]
	template = ~/.stCommitMsg
[http]
	sslVerify = false
[branch]
	autosetuprebase = always
[rerere]
	enabled = 1
